fixture/dom/schema-bad.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="body">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="h1" type="xsd:string" />
				<xsd:element name="h2" type="xsd:string" />
				<xsd:element name="h3" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>